* {
    box-sizing: border-box;
}
html {
    background-color: rgb(56, 67, 67);
}
body {
    margin: 0px;
    padding: 0px;
    display: flex;
    max-width: 1000px;
    width: 100%;
    margin: 15px auto 15px auto;
}
header {
    max-width: 100%;
}
header img {
    border: 10px solid rgb(31, 139, 139);
    border-radius: 50%;
    width: 250px;
    object-fit: contain;
}
.leftside {
    padding: 0 5px 0 5px;
    height: 200vh;
    text-align: center;
}
.info {
    padding: 0 0 0 10px ;
    width: 200px;
    height: 180vh;
    background-color: rgb(31, 139, 139);
    margin: -100px auto;
    text-align: start;
}
.info h2{
    padding-top: 100px;
}
main {
    max-width: 70%;
}
.rightside {
    margin-left: 10px;
    width: 90%;
    height: 200vh;
    padding: 5px;
    background-color: azure;
}
.rightside section {
    padding-left: 10px;
}
.gotop {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: black;
    border-radius: 10px 0 0 0 ;
}
aside a {
    text-decoration: none;
    color: aliceblue;
}
.line {
    border-bottom: 2px solid black;
}
